JWT_SECRET=<Create your own>
PUBLIC_URL=https://<Your own Domain>
MONGO_URL=mongodb://mongo:27017
DB_NAME=scalionexus
LICENSE_KEY=
CORS_ORIGINS=*
WATCHTOWER_HTTP_API_TOKEN=VPtOS0LElzkx0S7E74VaQ4fSRZaslw05Y4uQzEduRks
GITHUB_RELEASES_REPO=scalio-cloud/selfhosted-scalionexus
APP_VERSION=0.94
